NODE_ENV=development
PORT=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
DATABASE_URL=


ACCESS_TOKEN_SECRET=accesssecret
REFRESH_TOKEN_SECRET=refreshsecret
ACCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_EXPIRES_IN=7d